<!DOCTYPE html>
<html>
<head>
    <!--Layout Copyright 2016 by Richard Mietz, contact richard@inihaus.de-->
    <meta charset="UTF-8">
    <title>{title}</title>
    <link rel="stylesheet" href="stylesheet/style.css">
</head>
<body>
<div class="wrapper">
	  <div class="header">
		<img src="files/header.png">
		<div>pySSG first usage site</div>
	  </div>
	  <div class="nav">

{navigation}

      </div>
	  <div class="sidebar">

{sidebar}

	  </div>
	  <div class="content">

{content}

	  </div>
	  <div class="footer">
		pySSG Manual | created with pySSG &#169; by Richard Mietz 2016
	  </div>
	</div>
</body>
</html>
